
@{
    ViewBag.Title = "UploadStudentData";
    Layout = "~/Views/Shared/StudentLayout.cshtml";
}

<h2>Upload Student Data</h2>

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    @using (Html.BeginForm("UploadStudentData", "StudentData", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <div class="form-group">
            <input type="file" name="postedFile" /> <br />
        </div>
        <div class="form-group">
            <input class="btn btn-info" type="submit" value="Import" />
        </div>
       
    }
</body>
</html>