@using AAMS.Models;


@model IEnumerable<AAMS.Models.Course>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/StudentLayout.cshtml";
}
@{int counter = 1; }



@helper fun(string Name, String Code, int ID)
{
    <hr />
    <div class="card-deck">
        <div class="card text-white bg-secondary mb-1">
            <div class="card-body">
                <h4 class="card-title">  @Name</h4>
                <h9 class="card-text"> @Code</h9>
            </div>
            <div class="card-footer">
                <p class=" text-">Lecturer : @ID</p>
            </div>
        </div>
    </div>
        }

@helper enter() { 
    <br />
    }



        @foreach (var item in Model)
        {

      
           // if (counter < 3)
           // {
                @fun(item.CourseName, item.CourseCode, item.AssignedLecturerId);
               // enter();
         //   }

           // else
         //   {
         //       counter = 0;
         //       enter();
         //   }
          //  counter++;



        }
