
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Registrar Index</h2>

<a href="/Registrar/ViewStudents">Manage Students</a>

@*<a href="/Registrar/ViewStudents">View Students</a>
<a href="/Registrar/AddStudents">Add Student</a>
<a href="/Registrar/EditStudents">Edit Student</a>
<a href="/Registrar/DeleteStudents">Delete Student</a>*@



