@using AAMS.Models;

@model IEnumerable<AAMS.Models.AttendanceSheet>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_RegistrarLayout.cshtml";
}

<h3 class="text-center">Dashboard</h3>
<!-- -->
@helper fun(string Name, string Section, string Course)
{
    <hr />
    <div class="card-deck">
        <div class="card text-white bg-secondary mb-1">
            <div class="card-body">
                <h4 class="card-title">  @Name</h4>
                <h9 class="card-text"> @Course</h9>
            </div>
            <div class="card-footer">
                <p class=" text-">Section : @Section</p>
            </div>
        </div>
    </div>
}




@foreach (var item in Model)
{


    // if (counter < 3)
    // {
    @fun(item.Students.Batch, item.Section, item.Courses.CourseName);
    // enter();



}